
.custab{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    font-size: 15pt;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

 button{
   font-size: 13pt;
 }

